/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.quick-links .navbar-nav {
	list-style-type: none !important;
}

.quick-links .navbar-nav .nav-link {
	text-decoration: none !important;
}
.quick-links .navbar-nav .nav-item {
	margin-bottom: 0px;
}
